tqdm

requests

beautifulsoup4
boto3
dropbox
GitPython
internetarchive
minio
paramiko
py-gitea
PyGithub
python-gitlab
steam[client] @ git+https://github.com/solsticegamestudios/steam.git@v1.6.1
webdavclient3

flatbuffers
msgpack
protobuf
redis

docker
ftputil
pymongo
qbittorrent-api
smbprotocol
