tqdm
urllib3
requests

dropbox
ftputil
GitPython
py-gitea
PyGithub
python-gitlab
internetarchive
minio
boto3
paramiko
smbprotocol
steam[client] @ git+https://github.com/solsticegamestudios/steam.git@v1.6.1
webdavclient3

flatbuffers
protobuf
msgpack
redis

docker
pymongo
qbittorrent-api
